
body {
    background-color: lightblue;
    border: 5px solid rgb(255, 153, 0);
}

nav {
    color: green;
    text-decoration: underline;
}

img {
    float: right;
    margin-left: 15px;
    margin-right: 15px;
}

p {
    clear: both;
}