/* Border Box */
html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  /* Remove default margins and padding */
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;  /* or another base value */
  }
  
  /* .headline {
    border: solid 20px blue;
  } */
  
  .headline header {
    float: left;
    width: 40%;
  /*   border: solid 2px green; */
    font-size: 20px;
    font-weight: bold;
  }
  .date {
    float: right;
    width: 59%;
  /*   border: solid 2px orange; */
    text-align: right;
    font-size: 18px;
  }
  
  .mainStory {
    border: solid 2px blue;
    width: 50%;
    clear: both;
  }
  
  .mainStory img {
    width: 100%;
  }
  
  .overlayOne {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    color: white;
  }
  
  .sideImagesOne {
    float: right;
    width: 50%;
    border: solid 2px red;
  /*   overflow: hidden; */
  }
  
  .sideImagesOne img {
    float: left;
    width: 50%;
  }
  
  .sideImagesTwo {
    float: right;
    width: 45%;
    border: solid 2px red;
  /*   overflow: hidden; */
  }
  
  .sideImagesTwo img {
    float: right;
    width: 50%;
  }