/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */

/* header */
/* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topLogo {
    display: flex;
    align-items: flex-end;
} */

header nav {
  display: flex;
  align-items: center;
  width: 100%;
}

header nav a {
  padding: 0.5rem 1rem;    /* optional styling */
  text-decoration: none;
}

header nav a.topLogo {
  margin: 0 auto;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* footer */

/* Flexbox */